html,
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

body {
    padding-top: 60px;
}

.section {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #ffffff;

}

.next {
    font-size: 65px;
}

.next a {
    color: var(--bs-primary);
}

.arrow-next {
    color: var(--bs-primary) !important;
    transition: color 0.3s ease, transform 0.3s ease;
}

.arrow-next:hover {
    color: var(--bs-primary-dark) !important;
}

.nav-item:hover {
    background-color: var(--bs-primary-dark)
}

.language-wrapper img,
.contact-wrapper a {
    height: 60px;
    transition-duration: 0.3s;
    transition-property: all;
}

.language-wrapper img:hover,
.contact-wrapper a:hover {
    transform: scale(1.2);
}

.class-card {
    background-color: #eeeeee;
    color: black;
    transition-property: all;
    transition-duration: 0.3s;
}

.class-card:hover {
    background-color: var(--bs-primary);
    color: white;
}

.hobbies-section {
    background-color: var(--bs-primary-light);
    color: white;
}

.about-section {
    background-color: #f7f7f7;
}